/* .body-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

body {
  display: flex;

  flex-direction: column;
  justify-content: center;
  flex-basis: 75%;
}

/* Header styling */

ul {
  /* removes bullet points and styling */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-basis: 40%;
}

a,
a:hover,
a:focus,
a:active {
  /* Removes underline and changes color of links */
  text-decoration: none;
  color: inherit;
  color: white;
}

.header {
  /* Nav bar color */
  display: flex;
  background-color: #1f2937;
}

.left-link {
  /* top left link */
  font-size: 24px;
  color: #f9faf8;
}

.right-links {
  /* Top right 3 links */
  gap: 20px;
  font-size: 18px;
  color: #e5e7eb;
  justify-content: flex-end;
}

/* Below header styling */

.below-header {
  /* box below header/nav bar */
  display: flex;
  background-color: #1f2937;

  justify-content: center;
  align-items: center;
  padding: 100px;
}

.left-below-header {
  /* left side of the box below header/nav bar */
  display: flex;
  color: #f9faf8;
  flex-wrap: wrap;
  flex-basis: 34%;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}
.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

button {
  /* button in the left box under header */
  background-color: #3882f6;
  border-radius: 8px;
  color: white;
  border-style: hidden;
  padding: 0 25px;
  margin: 5px;
}

.right-below-header {
  /* right side of the box below header/nav bar */
  display: flex;
  flex-basis: 45%;
  /* width: 416.16; */
  height: 235.5;
  background-color: gray;
  justify-content: center;
}

/* Box in the middle of the page */

/* .middle-box {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  flex: 1;
} */

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25% 25%;
}

.information-header {
  display: flex;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* box 1 */
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 50px;
}

.box-1 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
}

/* box 2 */
.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-basis: 30%; */
  width: 140px;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 50px;
}

.box-2 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
}

/* box 3 */
.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 50px;
}

.box-3 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
}

/* box 4 */
.fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  text-align: center;
  padding-bottom: 50px;
}

.box-4 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
}

/* Second last box before the footer */

.gray-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.reference {
  /* figure out text size and use flexbox to move to the flex-end */
}
