.body {
  display: flex;
}

ul {
  /* removes bullet points and styling */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

a,
a:hover,
a:focus,
a:active {
  /* Removes underline and changes color of links */
  text-decoration: none;
  color: inherit;
  color: white;
}

.header {
  /* Nav bar color */
  display: flex;
  background-color: #1f2937;
}

.left-link {
  /* top left link */
  font-size: 24px;
  color: #f9faf8;
}

.right-links {
  /* Top right 3 links */
  gap: 20px;
  font-size: 18px;
  color: #e5e7eb;
}
