/* .body-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

body {
  display: flex;

  flex-direction: column;
  justify-content: center;
  flex-basis: 75%;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

/* Header styling */

ul {
  /* removes bullet points and styling */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-basis: 40%;
}

a,
a:hover,
a:focus,
a:active {
  /* Removes underline and changes color of links */
  text-decoration: none;
  color: inherit;
  color: white;
}

.header {
  /* Nav bar color */
  display: flex;
  background-color: #1f2937;
}

.left-link {
  /* top left link */
  font-size: 24px;
  color: #f9faf8;
}

.right-links {
  /* Top right 3 links */
  gap: 20px;
  font-size: 18px;

  justify-content: flex-end;
  color: #e5e7eb;
}

/* Below header styling */

.below-header {
  /* box below header/nav bar */
  display: flex;
  background-color: #1f2937;

  justify-content: center;
  align-items: center;
  padding: 100px;
}

.left-below-header {
  /* left side of the box below header/nav bar */
  display: flex;
  color: #e5e7eb;
  flex-wrap: wrap;
  flex-basis: 36%;
}

.hero-text {
  font-size: 18px;
}
.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

button {
  /* button in the left box under header */
  background-color: #3882f6;
  border-radius: 8px;
  color: white;
  border-style: hidden;
  padding: 0 25px;
  margin: 2px;
}

.right-below-header {
  /* right side of the box below header/nav bar */
  display: flex;
  flex-basis: 45%;
  /* width: 416.16; */
  /* height: 235.5; */
  padding: 80px 0px;
  background-color: gray;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Box in the middle of the page */

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25% 25%;
}

.information-header {
  display: flex;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* box 1 */
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 148px;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 50px;
  color: #6e7176;
}

.box-1 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
  padding: 10px;
}

/* box 2 */
.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-basis: 30%; */
  width: 148px;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 50px;
  color: #6e7176;
}

.box-2 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
  padding: 10px;
}

/* box 3 */
.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 148px;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 50px;
  color: #6e7176;
}

.box-3 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
  padding: 10px;
}

/* box 4 */
.fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 148px;
  text-align: center;
  padding-bottom: 50px;
  color: #6e7176;
}

.box-4 {
  height: 125px;
  width: 125px;
  border-radius: 8px;
  border: 3px solid #3882f6;
  padding: 10px;
}

/* Second last box before the footer */

.gray-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  width: 55%;
  margin: 0;
  padding-top: 100px;
}

.reference {
  /* figure out text size and use flexbox to move to the flex-end */
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  padding-bottom: 50px;
}

/* Last box above footer */

.last-box {
  display: flex;
  justify-content: center;
  padding: 75px;
}

.middle-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  border-radius: 5px;
  color: white;
  padding: 5px 100px;
}

.action-box {
  /* display: flex;
  flex-direction: column; */
  width: 600px;
  padding: 30px 0px;
}

.sign-up {
  border-radius: 4px;
  border: solid white;
  padding: 4px 18px;
}

.action-color {
  color: #b5bbc8;
}

.action-text {
  font-size: 20px;
  font-weight: 800;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 30px 0px;
}
